@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: ;
    background-color: hsl(0, 0%, 87%) ;
    color: ;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 4rem 2rem;
}

.main {
    overflow: hidden;
}



.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 87%) ;
    z-index: 100;
    transition: box-shadow .4s;
}

.nav{
    position: relative;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    display: flex;
    column-gap: .5rem;
    align-items: center;
    font-weight: 700;
    color: black;
}

.nav-logo-circle,
.nav-toggle{
    width: 32px;
    height: 32px;
    background-color: black;
    color: white;
    display:grid;
    place-items: center;
}

.nav-logo-circle{
    border-radius: 50%;
}

.nav-toggle{
    cursor: pointer;
}

.geometric-box {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: hsl(14, 98%, 50%);
    rotate: -30deg;
}

.geometric-box::after{
    content:"";
    position:absolute;
    width:16px;
    height:16px;
    border: 3px solid black;
    left: -5px;
    top: -5px;
}


@media screen and (max-width: 1150px){
    .nav-menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: hsla(0, 0%, 0%, .75);
        width: 100%;
        text-align: center;
        padding-block: 1.8rem 5rem;
        backdrop-filter: blur(8px);
        transition: top .4s;
    }
}

.nav-title,
.nav-name,
.nav-close{
    color: white;
}

.nav-title{
    display: block;
    font-size: ;
    font-weight: 700;
    margin-bottom: 3.5rem;
}

.nav-name{
    position: relative;
    width: max-content;
    margin: 0 auto 3rem;
    font-size: ;
}

.nav-name::after,
.nav-name::before{
    content: '';
    width: 40px;
    height: 1px;
    background-color: hsl(0, 0%, 64%);
    position: absolute;
    top: 50%;
    left: -4rem;
}

.nav-name::before{
    left: initial;
    right: -4rem
}

.nav-list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav-link{
    position: relative;
    color: hsl(0, 0%, 64%);
    font-size: ;
    font-weight: 700;
    transition: color 0.3s;
}


.nav-link::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .3s;
}

.nav-link:hover{
    color: white;
}

.nav-link:hover::after{
    width: 25%;
}

.nav-close{
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
}

.show-menu{
    top: 0;
}

/* home */

.home-container{
    padding-top: 2rem;
}

.home-name{
    font-size: ;
    text-align: center;
}

.home-perfil{
    position: relative;
    justify-self: center;
}

.home-image{
    width: 220px;
}

.home-img{
    position:relative;
    z-index: 10;
}

.home-shadow{
    width:100%;
    height: 100%;
    background-color: hsl(0, 0%, 83%);
    position: absolute;
    bottom: -.75rem;
    right: -.75rem;
    border: 4px solid black;
    z-index: 5;
    transition: background-color .4s;
}

.home-arrow,
.home-line {
    position: absolute;
    filter: invert(1);
    width: 50px;
    transition: filter .4s;
}

.home-arrow{
    left: 40%;
    bottom: -4rem;
}

.home-line{
    right: -2rem;
    bottom: -.5rem;
}

.home-perfil .geometric-box{
    top: 2.5rem;
    left: -.7rem;
    z-index: 10;
}

.home-social{
    height: max-content;
    position: absolute;
    left:-3rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: grid;
    row-gap: 1rem;
}

.home-social-link{
    background-color: hsl(0, 0%, 40%);
    color: white;
    font-size: 1.25rem;
    padding: 6px;
    display: grid;
    place-items: center;
    transition: background-color .3s;
}

.home-social-link:hover{
    background-color: black;
}

.home-info{
    margin-top: 4rem;
}

.home-description{
    text-align: center;
    color: black;
    margin-bottom: 1.5rem;
}

.home-description b{
    background: linear-gradient(90deg,
                hsla(14, 98%, 50%, .3),
                hsla(14, 98%, 50%, 0));
}




/* For large devices */

@media screen and (min-width: 1150px){
    .container{
        margin-inline: auto;
    }

    .section{
        padding-block: 7rem 2rem;
    }

    .nav{
        height: 5rem;
        
    }

    .nav-title,
    .nav-name,
    .nav-close,
    .nav-toggle{
        display: none;
    }

    .nav-list{
        flex-direction: row;
        column-gap: 4rem;
    }

    .nav-menu{
        margin-left: auto;
    }

    .nav-link{
        color:;
        font-size:;
    }

    .nav-link:hover{
        color: black;
    }

    .nav-link::after{
        background-color: black;
    }

}
